.root {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
}
.date {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 11px;
  border-radius: 6px;
  background-color: #7878801f;
}
.month {
  color: #007aff;
  font-size: 17px;
  line-height: 22px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.43px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.year {
  color: #007aff;
  font-size: 17px;
  line-height: 22px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.43px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.time {
  width: min-content;
  height: min-content;
  padding: 6px 11px;
  border-radius: 6px;
  background-color: #7878801f;
}
.time2 {
  color: #007aff;
  font-size: 17px;
  line-height: 22px;
  font-family: SF Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.43px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
